<div class="row">
    <div class="col-md-6 offset-md-3" >

            <div class="mb-3"><br><br><br><br>
                <h4>Update Student</h4>
                <hr>
            </div>
  
            <div class="mb-3">
                <label>Name
                </label>
                <input type="text"  [(ngModel)]="studForm.Name"/>
            </div>

            <div class="mb-3">
                <label>Age
                </label>
                <input type="number" name="Name" [(ngModel)]="studForm.Age" >
            </div>

            
            <div class="mb-3">
                <label>Gender
                </label>
                <input type="text"   [(ngModel)]="studForm.Gender" >
            </div>

            <div>
                <button class="btn  btn-success" (click)="updateStud()">Update</button>
            </div>
 
    </div>
</div>
